Django==1.9.7
PyYAML==3.11
django-filter==0.13.0
djangorestframework==3.3.3
ipython==5.0.0
isodate==0.5.4
icalendar==3.10
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
django-cors-headers==1.1.0
django-oauth-toolkit==0.10.0
sqlparse==0.1.19
django-phonenumber-field==1.1.0
requests==2.10.0
psycopg2==2.6.2
gunicorn==19.6.0
