Django==1.11.17
PyYAML==3.13
django-cors-headers==2.4.0
django-filter==1.1.0
django-oauth-toolkit==1.0.0
django-phonenumber-field==1.3.0
djangorestframework==3.6.4
gunicorn==19.9.0
icalendar==4.0.3
ipython==7.2.0
isodate==0.6.0
psycopg2==2.7.6.1
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.12.0
sqlparse==0.2.4
oauth2_provider
