Django==1.10
PyYAML==3.12
django-cors-headers==1.3.1
django-filter==1.0.1
django-oauth-toolkit==0.10.0
django-phonenumber-field==1.1.0
djangorestframework==3.5.3
gunicorn==19.6.0
icalendar==3.11
ipython==5.1.0
isodate==0.5.4
psycopg2==2.6.2
python-dateutil==2.6.0
pytz==2016.7
requests==2.12.1
six==1.10.0
sqlparse==0.2.2
