{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load jsonify %}
<!doctype html>
<html lang="nb">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <title>CYB internsystem</title>
    <link rel="icon" href="{% static 'favicon.png' %}">

    <script src="{% static 'library.js' %}"></script>
    {% render_bundle 'common.js' %}
    {% render_bundle 'app_react' %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="react_container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
