{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load jsonify %}
<!doctype html>
<html lang="nb" ng-app="cyb.oko">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <title>CYB internsystem</title>
    <link rel="icon" href="{% static 'favicon.png' %}">
    <script>
        var logged_in = {{ user.is_authenticated|jsonify }};
        {% if user.is_authenticated %}
            var user = {
                username: {{user.username|jsonify}},
                realname: {{user.realname|jsonify}},
                email: {{user.email|jsonify}}
            };
            var user_metadata = {{saml_attributes|jsonify}};
        {% else %}
            var user = null;
            var user_metadata = null;
        {% endif %}
    </script>

    <script src="{% static 'library.js' %}"></script>
    {% render_bundle 'common.js' %}
    {% render_bundle 'app' %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" target="_self">CYB internsystem</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse" navbar-check-active>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Varer <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="varer">Oversikt</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Moduler</li>
                            <li><a ui-sref="råvarer">Råvarer</a></li>
                            <li><a ui-sref="salgsvarer">Salgsvarer</a></li>
                            <li><a ui-sref="kontoer">Kontoliste</a></li>
                            <li><a ui-sref="leverandører">Leverandørliste</a></li>
                            <li><a ui-sref="salgskalkyler">Salgskalkyler</a></li>
                            <li><a ui-sref="varetellinger">Varetellinger</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Z <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="z">Oversikt</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Moduler</li>
                            <li><a ui-sref="zstats">Statistikk</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Calendar <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="cal" target="_self">Oversikt</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ui-sref="profile">Profile</a></li>
                                <li><a ui-sref="logout">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a ui-sref="login">Log in</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div ui-view>
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>
</html>
