.råvarer-index {
  table {
    font-size: 95%;
    tr > :nth-child(2),
    tr > :nth-child(3),
    tr > :nth-child(4),
    tr > :nth-child(5) {
      white-space: nowrap;
      text-align: center;
    }
    td {
      vertical-align: middle !important;
    }
    tr > :nth-child(3) {
      line-height: 1.2;
    }
    tr > :nth-child(4),
    tr > :nth-child(5) {
      a {
        color: $text-color;
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}
