{% extends "base.html" %}

{% block content %}

{% if errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Errors:</strong>
        <ul class="list-unstyled">
            {% for err in errors %}
                <li>{{err}}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if not_auth_warn %}
    <div class="alert alert-danger" role="alert">Not authenticated</div>
{% endif %}

{% if paint_logout %}
    {% if attributes %}
        <table class="table table-striped">
            <thead>
                <th>Name</th><th>Values</th>
            </thead>
            <tbody>
                {% for attr in attributes %}
                    <tr>
                        <td>{{ attr.0 }}</td>
                        <td><ul class="list-unstyled">
                            {% for val in attr.1 %}
                            <li>{{ val }}</li>
                            {% endfor %}
                        </ul></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">You don't have any attributes</div>
    {% endif %}

    <a href="{% url "saml_index" %}?slo" class="btn btn-danger">Logout</a>

{% else %}
    <p>You are currently not logged in.</p>
    <p>
        <a href="{% url "saml_index" %}?sso" class="btn btn-primary">Login through University of Oslo</a>
    </p>
{% endif %}

{% endblock %}