<h1>Leverandører</h1>

<loader var="leverandorer.items">
    <p>Ingen leverandører eksisterer.</p>
</loader>

<div ng-if="leverandorer.items.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Leverandør</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in leverandorer.items">
                <td>{{::item.id}}</td>
                <td><a ng-href="admin/varer/leverandør/{{::item.id}}/" target="_self">{{::item.navn}}</a></td>
                <td>{{::item.kommentar}}</td> <!-- TODO: formattere med markdown? -->
            </tr>
        </tbody>
    </table>
</div>
