on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: ./scripts/build-image.sh
      - run: ./scripts/test-app.sh
      - run: ./scripts/test-image.sh

      - uses: docker/login-action@v2
        if: github.ref == 'refs/heads/master'
        with:
          username: ${{ vars.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: ./scripts/push-image.sh
        if: github.ref == 'refs/heads/master'

      - uses: webfactory/ssh-agent@v0.9.0
        if: github.ref == 'refs/heads/master'
        with:
            ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Setup known hosts
        if: github.ref == 'refs/heads/master'
        run: ssh-keyscan in.cyb.no >> ~/.ssh/known_hosts

      - run: ./scripts/deploy.sh
        if: github.ref == 'refs/heads/master'
