.salgsvarer-index {
  table {
    font-size: 95%;
    tr > :nth-child(2),
    tr > :nth-child(3),
    tr > :nth-child(4) {
      white-space: nowrap;
      text-align: center;
    }
    td:nth-child(5) {
      font-size: 95%;
    }
    td {
      vertical-align: middle !important;
    }
  }
}
